.hidden {
  display: none; }

/* login page */
.loginWrapper {
  width: 100%;
  height: 100%; }

.wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
  height: 100vh; }

.welcome {
  height: 200px;
  width: 100%;
  text-decoration: none;
  list-style: none;
  text-align: center; }
  .welcome h1 {
    font-size: 4em; }
  .welcome h3 {
    font-size: 2em; }

.formWrap {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .formWrap form {
    width: 100%;
    height: 200px; }
  .formWrap input {
    height: 200px;
    width: 100%;
    text-align: center;
    font-size: 3em; }

.enter {
  width: 20%;
  height: 50px;
  background-color: darkred;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5vw; }

.enter:hover {
  background-color: #520910;
  cursor: pointer; }

.pageWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/* top bar */
.topBar {
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: black;
  font-size: 1.5em;
  color: whitesmoke;
  z-index: 1; }

#user {
  margin-right: 25px;
  font-size: 1.8em;
  color: whitesmoke; }

#charHealth {
  color: darkred; }

/* Game Window */
.gameWindow {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 70vh;
  background-color: whitesmoke; }

.leftWall {
  width: 35%;
  height: 70vh;
  background-color: gray;
  position: relative; }
  .leftWall .triangleRight1 {
    width: 0;
    height: 0;
    border-bottom: 15vh solid transparent;
    border-right: 15vw solid whitesmoke;
    float: right;
    position: relative; }
  .leftWall .wallLineLeft {
    width: 2px;
    height: 61vh;
    background-color: black;
    position: absolute;
    right: 40%;
    top: 1.3%; }
  .leftWall .triangleRight2 {
    width: 0;
    height: 0;
    border-top: 20vh solid transparent;
    border-right: 25vw solid whitesmoke;
    float: right;
    position: relative;
    top: 50.2%; }

.middleContent {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.monster1 {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-animation-name: hover;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite; }

.head {
  height: 225px;
  width: 225px;
  border-radius: 50%;
  background-color: #3a9c10;
  position: relative;
  margin: 0 auto;
  top: 50px; }

.head:hover {
  cursor: url("animaatjes_swords_icon43.cur"), pointer; }

.head:active {
  cursor: url("animaatjes_swords_icon43.cur"), pointer; }

.eye {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: 20px; }

.iris {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  margin: 0 auto;
  top: 28px; }

.shine {
  height: 30px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: 20px;
  left: 13px;
  transform: rotateZ(-20deg); }

.monsterShadow {
  box-shadow: 10px 5px 60px 10px black;
  width: 200px;
  position: absolute;
  top: 500px;
  right: 395px;
  -webkit-animation-name: monsterShadow;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite; }

.monsterShadowDead {
  box-shadow: 10px 5px 40px 10px black;
  width: 150px;
  position: absolute;
  top: 500px;
  right: 420px; }

.mouth {
  height: 5px;
  width: 100px;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  background-color: black;
  position: relative;
  margin: 0 auto;
  top: 30px;
  left: 8px; }
  .mouth .tooth {
    position: relative;
    margin: 0 auto;
    top: 2px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid white; }

.monster1Dead {
  height: 100%;
  width: 100%;
  position: relative;
  margin-top: 150px;
  -webkit-animation-name: dyingMonster;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1; }
  .monster1Dead .head {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-color: #3a9c10;
    position: relative;
    margin: 0 auto;
    top: 50px;
    transform: rotateZ(20deg); }
  .monster1Dead .irisDead {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0 66px;
    top: 70px;
    transform: rotateZ(20deg); }
  .monster1Dead .xeyes {
    font-size: 6em;
    transform: rotateZ(20deg); }
  .monster1Dead .mouthDead {
    height: 30px;
    width: 50px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    background-color: black;
    position: relative;
    margin: 0 auto;
    top: 70px;
    left: 8px; }
    .monster1Dead .mouthDead .tooth {
      position: relative;
      margin: 0 auto;
      left: 15px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid white; }

.monster2 {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-animation-name: hover;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite; }
  .monster2 .eye1 {
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0 auto;
    right: 20px;
    top: 60px;
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; }
  .monster2 .eye2 {
    height: 50px;
    width: 40px;
    position: relative;
    margin: 0 auto;
    top: 14px;
    left: 24px;
    background-color: black;
    border-radius: 50%; }

.body {
  height: 250px;
  width: 150px;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  background-color: lightgray;
  position: relative;
  margin: 0 auto;
  top: 50px; }

.head:hover {
  cursor: url("animaatjes_swords_icon43.cur"), pointer; }

.head:active {
  cursor: url("animaatjes_swords_ic.png"), pointer; }

.body:hover {
  cursor: url("animaatjes_swords_icon43.cur"), pointer; }

.body:active {
  cursor: url("animaatjes_swords_ic.png"), pointer; }

.eyes {
  height: 50px; }
  .eyes .xeyes1 {
    font-size: 4em; }
  .eyes .xeyes2 {
    font-size: 5em; }

.eye1Dead {
  height: 50px;
  width: 50px; }

.eye1 {
  height: 30px;
  width: 30px;
  position: relative;
  margin: 0 auto;
  top: 45px;
  right: 30px; }

.monster2Dead {
  -webkit-animation-name: ghostDie;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1; }

.eye2 {
  height: 50px;
  width: 40px;
  position: relative;
  margin: 0 auto;
  left: 16px;
  top: 5px; }

.iris {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: black;
  position: relative;
  margin: 0 auto;
  top: 28px; }

.shine {
  height: 30px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin: 0 auto;
  top: 20px;
  left: 13px;
  transform: rotateZ(-20deg); }

/* .monsterShadow {
  box-shadow: 10px 5px 60px 10px black;
  width: 200px;
  position: absolute;
  top: 500px;
  right: 395px;
  -webkit-animation-name: monsterShadow;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
} */
/* .monsterShadowDead {
  box-shadow: 10px 5px 40px 10px black;
   width: 150px;
   position: absolute;
   top: 500px;
   right: 420px;
} */
#smoke {
  height: 50%;
  width: 100%;
  position: absolute; }

.mouth1 {
  height: 50px;
  width: 100px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  background-color: black;
  position: relative;
  margin: 0 auto;
  top: 60px; }

.tounge {
  height: 40px;
  width: 60px;
  border-radius: 30%;
  background-color: red;
  position: relative;
  margin: 0 auto;
  top: 35px;
  right: -5px;
  -webkit-animation-name: tounge;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite; }

.toungeLine {
  margin: 0 auto;
  height: 30px;
  width: 2px;
  background-color: black;
  -webkit-animation-name: toungeLine;
  -webkit-animation-duration: 5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite; }

.triangle1 {
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 50px;
  left: -55px;
  margin: 0 auto;
  border-top: 20px solid lightgray; }

.triangle2 {
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 30px;
  left: -25px;
  margin: 0 auto;
  border-top: 20px solid lightgray;
  -webkit-animation-name: triangle2move;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite; }

.triangle3 {
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: 10px;
  left: 2px;
  margin: 0 auto;
  border-top: 20px solid lightgray;
  -webkit-animation-name: triangle3move;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite; }

.triangle4 {
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: -10px;
  left: 30px;
  margin: 0 auto;
  border-top: 20px solid lightgray;
  -webkit-animation-name: triangle4move;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite; }

.triangle5 {
  width: 0;
  height: 0;
  position: relative;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  top: -30px;
  left: 55px;
  margin: 0 auto;
  border-top: 20px solid lightgray; }

.chestBox {
  z-index: 5;
  height: 150px;
  width: 200px;
  background-color: rgba(107, 60, 27, 0.93);
  position: relative;
  top: 60px;
  border-radius: 10px; }
  .chestBox .chestShadow {
    box-shadow: 10px 5px 20px 5px black;
    width: 200px;
    position: relative;
    top: 84px;
    right: 5px; }
  .chestBox .chestLine {
    height: 5px;
    background-color: black;
    width: 100%;
    position: relative;
    top: 50%; }
  .chestBox .chestLinkShadow {
    height: 6px;
    background-color: rgba(2, 0, 5, 0.19);
    width: 100%;
    position: relative;
    top: 50%; }
  .chestBox .lock {
    height: 50px;
    background-color: #eec92a;
    width: 50px;
    position: relative;
    margin: 0 auto;
    top: 40px;
    border-radius: 10px; }
    .chestBox .lock .lockShine {
      height: 20px;
      width: 15px;
      background-color: #f6e9af;
      position: relative;
      margin: 0 auto;
      left: 10px;
      border-radius: 5px; }

.chestBox:hover {
  cursor: pointer; }

.chestOpen {
  z-index: 0; }

.chestBox2 {
  z-index: 2;
  height: 150px;
  width: 200px;
  background-color: rgba(107, 60, 27, 0.93);
  position: relative;
  top: 60px;
  border-radius: 10px; }
  .chestBox2 .boxOpenBorder {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 75px;
    width: 200px;
    position: absolute;
    border-top: 15px solid #a67e61;
    border-right: 15px solid #a67e61;
    border-left: 15px solid #a67e61; }
  .chestBox2 .boxOpenShadow {
    height: 60px;
    width: 170px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    border-top: 15px solid rgba(8, 6, 5, 0.3);
    border-right: 15px solid rgba(8, 6, 5, 0.1);
    border-left: 15px solid rgba(8, 6, 5, 0.1); }
  .chestBox2 .boxOpenColor {
    height: 50px;
    width: 140px;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
    background-color: rgba(8, 6, 5, 0.6); }
  .chestBox2 .chestShadow {
    box-shadow: 10px 5px 20px 5px black;
    width: 200px;
    position: relative;
    top: 84px;
    right: 5px; }
  .chestBox2 .chestLine {
    height: 5px;
    background-color: black;
    width: 100%;
    position: relative;
    top: 50%;
    box-shadow: 0px -50px 100px 40px rgba(249, 238, 106, 0.85); }
  .chestBox2 .chestLinkShadow {
    height: 6px;
    background-color: rgba(2, 0, 5, 0.19);
    width: 100%;
    position: relative;
    top: 50%; }
  .chestBox2 .lockTop {
    height: 25px;
    background-color: #eec92a;
    width: 50px;
    position: relative;
    margin: 0 auto;
    top: -30px;
    border-radius: 10px;
    z-index: -1; }
  .chestBox2 .lockBottom {
    height: 25px;
    background-color: #eec92a;
    width: 50px;
    position: relative;
    margin: 0 auto;
    top: 35px;
    border-radius: 10px; }

.chestBox:hover {
  cursor: pointer; }

.throne h1 {
  margin-bottom: 80px;
  font-size: 2em;
  font-weight: bold; }

.chairBox {
  height: 200px;
  width: 125px;
  background-color: #e6c203;
  position: relative;
  top: -20px;
  border-radius: 10px; }
  .chairBox .insideBoxtop {
    height: 190px;
    width: 90px;
    background-color: #7e0000;
    position: relative;
    top: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin: 0 auto; }

.bottomBox {
  height: 100px;
  width: 180px;
  margin: auto;
  position: relative;
  background-color: #e6c203;
  right: 27.5px; }

.rightWall {
  width: 35%;
  height: 70vh;
  background-color: gray;
  position: relative; }
  .rightWall .triangleLeft1 {
    width: 0;
    height: 0;
    border-bottom: 15vh solid transparent;
    border-left: 15vw solid whitesmoke;
    float: left;
    position: relative; }
  .rightWall .wallLineRight {
    width: 2px;
    height: 61vh;
    background-color: black;
    position: absolute;
    left: 40%;
    top: 1.3%; }
  .rightWall .triangleLeft2 {
    width: 0;
    height: 0;
    border-top: 20vh solid transparent;
    border-left: 25vw solid whitesmoke;
    float: left;
    position: relative;
    top: 50.2%; }

/* UserUI */
.userUIBar {
  height: 20vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 1; }

.status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 35%; }
  .status .weaponName {
    width: 100%;
    height: 50%;
    color: whitesmoke;
    margin-left: 15%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .status .power {
    width: 100%;
    height: 50%;
    color: whitesmoke;
    margin-left: 15%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.moveForwardWrap {
  height: 100%;
  width: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .moveForwardWrap .moveForwardButton {
    width: 0;
    height: 0;
    border-left: 6vh solid transparent;
    border-right: 6vh solid transparent;
    border-bottom: 6vw solid whitesmoke; }
    .moveForwardWrap .moveForwardButton:hover {
      cursor: pointer; }

.buttons {
  width: 35%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .buttons .attackButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: darkred;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .buttons .attackButton h2 {
      padding: 0;
      margin: 0; }
  .buttons .attackButton:hover {
    background-color: #730310;
    cursor: pointer; }

@-webkit-keyframes hover {
  0% {
    margin-bottom: 0px; }
  50% {
    margin-bottom: 100px; }
  100% {
    margin-bottom: 0px; } }
@-webkit-keyframes dyingMonster {
  0% {
    margin-bottom: 150px; }
  100% {
    margin-bottom: 0px; } }
@-webkit-keyframes monsterShadow {
  0% {
    box-shadow: 10px 5px 40px 10px black;
    width: 150px;
    position: absolute;
    top: 500px;
    right: 420px; }
  50% {
    box-shadow: 10px 5px 60px 10px black;
    width: 200px;
    position: absolute;
    top: 500px;
    right: 395px; }
  100% {
    box-shadow: 10px 5px 40px 10px black;
    width: 150px;
    position: absolute;
    top: 500px;
    right: 420px; } }
@-webkit-keyframes monsterShadowFade {
  0% {
    box-shadow: 10px 5px 60px 10px black;
    width: 200px;
    position: absolute;
    top: 500px;
    right: 395px; }
  100% {
    box-shadow: 10px 5px 60px 10px black;
    width: 200px;
    position: absolute;
    top: 500px;
    right: 395px;
    display: none; } }
@-webkit-keyframes tounge {
  0% {
    height: 60px; }
  50% {
    height: 40px; }
  100% {
    height: 60px; } }
@-webkit-keyframes toungeLine {
  0% {
    height: 50px; }
  50% {
    height: 30px; }
  100% {
    height: 50px; } }
@-webkit-keyframes triangle2move {
  0% {
    left: -25px; }
  50% {
    left: 25px; }
  100% {
    left: -25px; } }
@-webkit-keyframes triangle3move {
  0% {
    left: 2px; }
  25% {
    left: 23px; }
  50% {
    left: -23px; }
  100% {
    left: 2px; } }
@-webkit-keyframes triangle4move {
  0% {
    left: 30px; }
  50% {
    left: -30px; }
  100% {
    left: 30px; } }
@-webkit-keyframes ghostDie {
  0% {
    transform: rotateZ(0deg);
    margin-top: 0px; }
  70% {
    transform: rotateZ(60deg);
    margin-top: 80px; }
  100% {
    margin-top: 120px; } }
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
